<!--フラッシュメッセージ-->
<%= flash[:success] %>

<div class="container">
  <div class="row">
    <!--左側のレイアウトと部分テンプレート-->
    <div class="col-md-3">
      <%= render 'template', user: @user, newbook: @newbook %>
    </div>

    <!--右側のレイアウト-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <!--テーブル-->
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(100, 100) %><br>
                <%= @user.name %>
              <% end %>
            </td>

            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>

            <td>
              <%= @book.body %>
            </td>

            <!--現在投稿しているユーザーのみ表示-->
            <% if @user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@book), class: 'btn btn-sm btn-success' %>
              </td>

              <td>
                <%= link_to "Destroy", book_path, class: 'btn btn-sm btn-danger', method: :delete,
                "data-confirm" => "本当に削除しますか？" %>
              </td>
            <% end %>

          </tr>
        </tbody>
      </table>
    </div>
    <!--ここまで右側のレイアウト-->

  </div>
</div>